/*----------------------------------------*/
/*  14. HERO CSS START
/*----------------------------------------*/


.hero {
  &__area {
    background-color: var(--black);
    position: relative;
    overflow: hidden;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.8); // Overlay on video
      z-index: 1;
    }

    .hero__bg-video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 0;
    }
  }

  &__content-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    pointer-events: none;

    .text {
      mix-blend-mode: difference;
      opacity: 0;
      filter: blur(10px);
    }
  }
  &__content {
    position: relative;
    z-index: 2; // Ensure above overlay
    padding-top: 200px;
    padding-bottom: 80px;

    @media #{$xxl} {
      padding-top: 80px;
      padding-bottom: 50px;
    }

    @media #{$xl} {
      padding-top: 80px;
      padding-bottom: 50px;
    }

    @media #{$lg} {
      padding-top: 120px;
    }

    @media #{$md} {
      padding-top: 125px;
    }

    @media #{$sm} {
      padding-top: 150px;
    }

    a {
      display: inline-block;
      max-width: 300px;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.5;
      color: var(--white);
      padding-bottom: 15px;
      border-bottom: 1px solid var(--white);
      position: relative;
      transition: all 0.3s;
      overflow: hidden;

      &:hover {
        i {
          transform: translate(20px, -20px) rotate(-45deg);
        }

        span::after {
          opacity: 1;
          visibility: visible;
          transform: translate(20px, -20px) rotate(-45deg);
        }
      }

      span {
        i {
          transform: translate(0, 0) rotate(-45deg);
          transition: all 0.3s;
        }

        position: absolute;
        top: 0;
        right: 0;

        &::after {
          position: absolute;
          content: "\f061";
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          left: -20px;
          bottom: -20px;
          transform: translate(0, 0) rotate(-45deg);
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s;
        }
      }
    }

    img {

      // animation: wcSlideBottom 3s infinite;
      @media #{$xl} {
        max-width: 120px;
      }

      @media #{$md} {
        max-width: 120px;
      }

      @media #{$sm} {
        max-width: 60px;
      }
    }

    .experience {
      position: absolute;
      right: 30px;
      bottom: 70px;

      @media #{$md} {
        bottom: 10px;
      }

      @media #{$sm} {
        position: unset;
      }

      .title {
        font-weight: 400;
        font-size: 50px;
        line-height: 1.3;
        color: var(--white);
      }

      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.4;
        color: var(--white);
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 130px;
    line-height: 1;
    color: var(--white);
    margin-top: 55px;
    position: relative;

    @media #{$xl} {
      font-size: 100px;
      line-height: 0.9;
    }

    @media #{$lg} {
      font-size: 100px;
      line-height: 0.9;
    }

    @media #{$md} {
      font-size: 80px;
    }

    @media #{$sm} {
      font-size: 48px;
    }
    &-wrapper {
      max-width: 990px;
      position: relative;
      margin-bottom: 105px;

      @media #{$xl} {
        max-width: 700px;
      }

      @media #{$lg} {
        max-width: 800px;
        margin-bottom: 20px;
      }

      @media #{$md} {
        margin-bottom: 50px;
      }

      @media #{$sm} {
        margin-bottom: 0;
      }
    }
  }

  &__sub-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: var(--gray-3);
    max-width: 410px;
    position: absolute;
    right: 60px;
    bottom: -160px;

    @media #{$xl} {
      bottom: -120px;
      right: -30px;
    }

    @media #{$lg} {
      bottom: -110px;
    }

    @media #{$md} {
      font-size: 16px;
      bottom: -80px;
      right: 30px;
    }

    @media #{$sm} {
      position: unset;
      padding-top: 15px;
    }

    span {
      color: var(--white);
    }
  }

  // About Hero
  // update v0.2 
  &__about {
    background-image: url(/assets/imgs/about/about-bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    overflow: hidden;

    &-content {
      padding-top: 170px;

      @media #{$sm} {
        padding-top: 250px;
      }

      .hero-title {
        padding-bottom: 60px;

        @media #{$sm} {
          padding-bottom: 30px;
        }
      }
    }

    &-info {
      display: grid;
      grid-template-columns: 1fr 2.5fr 2.5fr;
      padding-bottom: 80px;
      grid-gap: 30px;

      @media #{$lg} {
        grid-template-columns: 1fr 2.5fr 2fr;
      }

      @media #{$md} {
        grid-template-columns: 1fr 2.5fr 1fr;
        grid-gap: 20px;
        padding-bottom: 70px;
      }

      @media #{$sm} {
        padding-bottom: 60px;
      }
    }

    &-text {
      display: flex;
      align-items: center;

      @media #{$sm} {
        grid-column: 1/-1;
        grid-row: 1;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
        line-height: 1.4;
        padding-left: 80px;

        @media #{$lg} {
          padding-left: 20px;
        }

        @media #{$md} {
          padding-left: 0;
        }

        @media #{$sm} {
          padding-left: 0;
        }
      }
    }

    &-award {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        left: 75px;
        top: 50%;
        width: 250px;
        height: 1px;
        background-color: var(--white-4);

        @media #{$xl} {
          left: 30px;
        }

        @media #{$lg} {
          width: 150px;
          left: 0;
        }
      }

      @media #{$sm} {
        position: absolute;
        top: 150px;
      }
    }

    &-video {
      margin-bottom: -10px;
      height: 800px;

      @media #{$xxl} {
        height: 700px;
      }

      @media #{$xl} {
        height: 650px;
      }

      @media #{$lg} {
        height: 600px;
      }

      @media #{$md} {
        height: 470px;
      }

      @media #{$sm} {
        height: auto;
      }

      iframe,
      video {
        width: 100%;
        height: auto;
      }
    }

    &-row {
      position: inherit;
      margin-right: -310px;

      @media #{$xxl} {
        margin-right: -50px;
      }

      @media #{$xl} {
        margin-right: -150px;
      }

      @media #{$lg} {
        margin-right: -150px;
      }

      @media #{$md} {
        margin-right: -120px;
      }

      @media #{$sm} {
        margin-right: calc(-.5 * var(--bs-gutter-x));
      }
    }
  }

  &__link {
    display: inline-block;
    max-width: 300px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--white);
    padding-bottom: 15px;
    border-bottom: 1px solid var(--white);
    position: absolute;
    top: 190px;
    transition: all 0.3s;
    overflow: hidden;

    &:hover {
      i {
        transform: translate(20px, -20px) rotate(-45deg);
      }

      span::after {
        opacity: 1;
        visibility: visible;
        transform: translate(20px, -20px) rotate(-45deg);
      }
    }

    span {
      i {
        transform: translate(0, 0) rotate(-45deg);
        transition: all 0.3s;
      }

      position: absolute;
      top: 0;
      right: 0;

      &::after {
        position: absolute;
        content: "\f061";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        left: -20px;
        bottom: -20px;
        transform: translate(0, 0) rotate(-45deg);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
      }
    }
  }
  

}

#hero {
  &_texture {
    position: relative;
  }

  &_canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.bodypadding {
  padding: 110px 100px;

  @media #{$md} {
    padding: 70px 20px;
  }

  @media #{$sm} {
    padding: 30px 15px;
  }
}

.bodypadding-2 {
  padding: 120px 50px;

  @media #{$sm} {
    padding: 30px 15px;
  }
}




// Dark Version
.dark {
  .hero__content-8 .scroll-down {
    img {
      filter: invert(1);
    }

    span {
      color: var(--white);
    }
  }
}